:root {
    background-color: #ecf5ff;
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
}

.site-logo {
    display: block;
    margin: 0 auto;
}

/* user value input */
.app-title {
    font-size: 320%;
    font-weight: bold;
    line-height: 120%;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    color: #2C303B;
}

.tag-line {
    font-size: 160%;
    text-align: center;
    padding: 2rem;
    color: #2C303B;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 200%;
    text-align: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    color: #152137;
}

input, button {
    border-radius: 0.5rem;
    margin: 2.5% auto;
}

input {
    font-size: 160%;
    padding: 1rem;
    width: 17.5rem;
    border: 1px solid #000036;
    background-color: #ffffff;
}

button {
    background-color: #4267B1;
    color: #ffffff;
    text-align: center;
    width: 12rem;
    height: 4rem;
    font-size: 200%;
    font-weight: 900;
    letter-spacing: 0.1rem;
}

button:hover {
    cursor: pointer;
    background-color: #597dc0;
    color: #ffffff;
}

/* loader */
.loader {
    border: 1.5rem solid #a2b5dd;
    border-top: 1.5rem solid #456cba;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    margin: 2rem auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

/* error message */
#invalid-search {
    padding-left: 4rem;
    padding-right: 4rem;
    margin: 1rem auto;
}

.error-message {
    color: red;
    font-size: 180%;
    line-height: 130%;
}

/* results section */
.results {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
}

.stats-results-wrapper, .news-results-wrapper, .videos-results-wrapper {
    background-color: #ffffff;
    margin: 2rem auto;
    height: 40rem;
    border-radius: 0.5rem;
    width: 80%;
    overflow: auto;
    position: relative;
}

.stats-results, .news-results, .videos-results {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-y: scroll;
}

/* hidden class on the initial screen (DO NOT TOUCH!)*/
.hidden {
    display: none;
}

/* crypto stats */
.all-crypto-stats {
    text-align: center;
}

.stats-title {
    font-size: 200%;
    font-weight: bold;
    position: absolute;
    overflow: hidden;
    background-color: #3AA9F3;
    color: #ffffff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    text-align: center;
}

.stats-results {
    padding-top: 5rem;
    font-family: 'Roboto', sans-serif;
}

.crypto-logo {
    width: 12rem;
    height: 12rem;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5%;
}

.crypto-name {
    font-size: 350%;
    font-weight: bold;
    margin: 2.5% auto;
}

.crypto-current-price {
    font-size: 200%;
    margin: 12.5% auto;
}

.crypto-market-cap {
    display: none;
}

.crypto-circulating-supply {
    display: none;
}

.crypto-change {
    font-size: 175%;
    margin: 12.5% auto;
}

.percent-change-positive {
    color: green;
}

.percent-change-negative {
    color: red;
}

.percent-change-neutral {
    color: black;
}

/* crypto news & crypto videos */
ul {
    list-style-type: none;
}

/* crypto news */
.news-title {
    font-size: 200%;
    font-weight: bold;
    position: absolute;
    overflow: hidden;
    background-color: #3AA9F3;
    color: #ffffff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    text-align: center;
}

.news-results {
    padding-top: 5rem;
    font-family: 'Roboto', sans-serif;
}

.news-image {
    display: none;
}

.news-results-list>.each-news-item:nth-child(odd) {
    background-color: #ffffff;
    color: #329ff2;
    padding: 1rem;
}

.news-results-list>.each-news-item:nth-child(even) {
    background-color: #97D2F9;
    color: #2684D1;
    padding: 1rem;
}

.news-article-source {
    display: none;
}

/* crypto videos */
.videos-title {
    font-size: 200%;
    font-weight: bold;
    position: absolute;
    overflow: hidden;
    background-color: #3AA9F3;
    color: #ffffff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    text-align: center;
}

.videos-results {
    padding-top: 5rem;
    font-family: 'Roboto', sans-serif;
}

.videos-image {
    display: none;
}

.videos-results-list>.each-video-item:nth-child(odd) {
    background-color: #ffffff;
    color: #329ff2;
    padding: 1rem;
}

.videos-results-list>.each-video-item:nth-child(even) {
    background-color: #97D2F9;
    color: #2684D1;
    padding: 1rem;
}

.each-video-channel {
    display: none;
}

/* footer */
footer {
    text-align: center;
    font-size: 160%;
    color: #000036;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    color: #0000cc;
}



@media screen and (min-width: 768px) {
    .results {
        display: flex;
        flex-direction: row;
        padding: 2rem;
    }

    .stats-results-wrapper, .news-results-wrapper, .videos-results-wrapper {
        margin: 0 2rem;
        height: 55rem;
    }
    
    /* hidden class on the initial screen (DO NOT TOUCH!)*/
    .hidden {
        display: none;
    }

    .app-title {
        font-size: 400%;
    }

    .tag-line {
        font-size: 200%;
    }

    label {
        font-size: 300%;
        margin-top: 3.5%;
    }

    input {
        width: 20rem;
        margin-top: 0%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.5%;
    }

    /* error message */
    .error-message {
        font-size: 260%;
        padding: 1rem;
    }

    /* crypto stats */
    .crypto-logo {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .crypto-name {
        font-size: 250%;
        margin-bottom: 15%;
    }

    .crypto-current-price {
        font-size: 250%;
        margin-bottom: 15%;
    }

    .crypto-market-cap {
        display: block;
        font-size: 200%;
        margin-bottom: 15%;
    }

    .crypto-circulating-supply {
        display: block;
        font-size: 200%;
        margin-bottom: 15%;
    }

    .crypto-change {
        font-size: 200%;
    }

    /* footer */
    footer {
        font-size: 200%;
    }
}



@media screen and (min-width: 1024px) {
    .tag-line {
        font-size: 240%;
    }
    
    label {
        margin-bottom: 0%;
    }

    input, button {
        margin: 1% auto;
    }

    input {
        font-size: 200%;
        width: 22.5rem;
    }
    
    button {
        width: 13.5rem;
        height: 4.5rem;
        font-size: 240%;
    }

    /* hidden class on the initial screen (DO NOT TOUCH!)*/
    .hidden {
        display: none;
    }

    .stats-results-wrapper, .news-results-wrapper, .videos-results-wrapper {
        height: 62.5rem;
    }

    /* crypto stats */
    .crypto-logo {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .crypto-name {
        font-size: 350%;
        margin-bottom: 15%;
    }

    .crypto-current-price {
        font-size: 300%;
        margin-bottom: 15%;
    }

    .crypto-market-cap {
        display: block;
        font-size: 250%;
        margin-bottom: 15%;
    }

    .crypto-circulating-supply {
        display: block;
        font-size: 250%;
        margin-bottom: 15%;
    }

    .crypto-change {
        font-size: 250%;
    }

    /* crypto news */
    .news-results-list {
        display: block;
        width: 100%;
    }

    .each-news-item {
        display: flex;
    }

    .news-image {
        display: block;
        width: 10rem;
        height: 10rem;
    }

    .news-item-information {
        display: block;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .news-article-title {
        font-size: 120%;
        padding-bottom: 1rem;
    }

    .news-article-source {
        display: block;
        font-size: 120%;
        color: #717D93;
    }

    /* crypto videos */
    .videos-results-list {
        display: block;
        width: 100%;
    }

    .each-video-item {
        display: flex;
    }

    .videos-image {
        display: block;
        width: 12rem;
        height: 10rem;
    }

    .videos-item-information {
        display: block;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .each-video-title {
        font-size: 120%;
        padding-bottom: 1rem;
    }

    .each-video-channel {
        display: block;
        font-size: 120%;
        color: #717D93;
    }
}

@media screen and (min-width: 1280px) {
    /* hidden class on the initial screen (DO NOT TOUCH!)*/
    .hidden {
        display: none;
    }

    .tag-line {
        font-size: 300%;
    }

    .news-article-title {
        font-size: 160%;
    }

    .news-article-source {
        font-size: 160%;
    }

    .each-video-title {
        font-size: 160%;
    }

    .each-video-channel {
        font-size: 160%;
    }
}